.large-title {
  font-weight: bolder;
  font-size: 50px;
}

.medium-text {
  font-size: 20px;
  margin-bottom: 40px;
}

.large-text {
  font-size: 25px;
}

.bg-blueish {
  background-color: #3aa2a7
}

.titles {
  margin-top: 25px;
  margin-left: 20px;
}

.small-titles {
  display: none;
}

.sub-text {
  margin-left: 5px;
}

.is-disabled {
  color: currentColor;
  opacity: 0.5;
  background-color: #ddd
}

.group-xp {
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: 2vw;
  margin-right: 2vw;
}

#group-xp {
  height: 1vw;
  margin-bottom: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

.archive-list {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

.card-post {
  align-self: center;
  width: 95%;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #ede7e1;
  border-color: #aaaaaa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

/* Card Classes */
.archive-list>.char-list {
  width: 100%;
  margin-left: 5%;
}

.archive-list>.quest-list {
  width: 100%;
  margin-left: 5%;
}

.archive-list>.bounty-list {
  width: 100%;
  margin-left: 5%;
}

.char-image {
  width: 12vw;
  height: 12vw;
  object-fit: cover;
}

.quest-image {
  width: 12vw;
  height: 12vw;
  object-fit: cover;
}

.bounty-image {
  width: 12vw;
  height: 12vw;
  object-fit: cover;
}

.char-class {
  margin-left: 10px;
}

.quest-party {
  margin-left: 10px;
}

.bounty-party {
  margin-left: 10px;
}

.quest-players {
  margin-top: 1%;
  margin-left: 4%;
}

.bounty-players {
  margin-top: 1%;
  margin-left: 4%;
}

.char-notes {
  width: 95%;
  margin-top: 4%;
  margin-bottom: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.quest-hook {
  width: 95%;
  margin-top: 4%;
  margin-bottom: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.bounty-hook {
  width: 95%;
  margin-top: 4%;
  margin-bottom: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.char-text {
  margin-bottom: 10px;
  margin-left: 25px;
  overflow-y: auto;
}

.quest-text {
  margin-bottom: 10px;
  margin-left: 25px;
  padding-top: 3.5%;
  overflow-y: auto;
}

.bounty-text {
  margin-bottom: 10px;
  margin-left: 25px;
  padding-top: 3.5%;
  overflow-y: auto;
}

.nav-item {
  display: none;
}

/* Shrink Images */
@media (max-width: 2200px) {
  .large-title {
    font-weight: bolder;
    font-size: 48px;
  }

  .medium-text {
    font-size: 25px;
  }

  .large-text {
    font-size: 20px;
  }

  .char-image {
    width: 200px;
    height: auto;
  }

  .quest-image {
    width: 200px;
    height: auto;
  }

  .bounty-image {
    width: 200px;
    height: auto;
  }

  .char-notes {
    margin-bottom: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .quest-hook {
    margin-top: 5%;
    margin-bottom: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .bounty-hook {
    margin-top: 5%;
    margin-bottom: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* Change Font Sizes */
@media (max-width: 1600px) {
  h1 {
    font-size: 30px;
  }

  .large-title {
    font-size: 40px;
  }

  .medium-text {
    font-size: 20px;
  }

  .large-text {
    font-size: 20px;
  }

  #group-xp {
    height: 1.5vw;
  }

  .char-class {
    font-size: 18px;
  }

  .quest-party {
    font-size: 18px;
  }

  .bounty-party {
    font-size: 18px;
  }

  .quest-type {
    font-size: 18px;
  }

  .char-notes {
    margin-left: 10px;
    margin-right: 10px;
  }

  .quest-hook {
    margin-left: 10px;
    margin-right: 10px;
  }

  .bounty-hook {
    margin-left: 10px;
    margin-right: 10px;
  }

  .sub-text>.col {
    padding-left: 0px;
    padding-right: 0px;
  }

  .quest-hook {
    height: 50%;
  }

  .bounty-hook {
    height: 50%;
  }

  .bounty-type {
    font-size: 18px;
  }

  /* Move IMG to Top of card */
  .char-list>.card-post>.row {
    display: block;
  }

  .quest-list>.card-post>.row {
    display: block;
  }

  .bounty-list>.card-post>.row {
    display: block;
  }

  .char-image {
    height: 200px;
    width: 100%;
  }

  .quest-image {
    height: 200px;
    width: 100%;
  }

  .bounty-image {
    height: 200px;
    width: 100%;
  }

  #group-xp {
    border-radius: 0.1rem;
  }
}

/* Remove Images and Change Navbars */
@media (max-width: 991px) {

  /* Removes .Row Flex */
  .main-row {
    display: contents;
    flex: none;
  }

  #group-xp {
    height: 2vw;
  }

  /* Fixes the Margins */
  .archive-list {
    margin-left: auto;
  }

  .small-titles>h1 {
    margin-top: 3%;
    margin-left: 4vw;
  }

  .small-titles>p {
    margin-left: 4vw;
  }

  /* Changing Displays */
  .titles {
    display: none;
  }

  #sidebarToggle {
    display: none;
  }

  #sidebar-wrapper {
    display: none;
  }

  .nav-item {
    display: contents;
  }

  div>.small-titles {
    display: contents;
  }
}

/* Clean up everything */
@media (max-width: 600px) {
  .large-title {
    font-size: 30px;
  }

  .large-text {
    font-size: 18px;
  }

  #group-xp {
    height: 3vw;
  }

  .small-titles>h1 {
    font-size: 30px;
  }

  .small-titles>p {
    font-size: 16px;
  }

  img {
    display: none;
  }

  #group-xp {
    height: 5vw;
  }
}
