html, body {
height: 100%;
margin: 0;
}

#map {
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 0;
  right: 0;
  width: 100%;
  height: 90%;

  border-top-style: solid;
  border-bottom-style: solid;
  border-color: black;
  border-width: 1em;
}

#section1 {
    height: 90%;
    width:100%;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#section2 {
    height: 30%;
    width:100%;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.tooltip {
  position: relative;
}

.dot {
  display: block;
  margin: 15px;
  width: 35px;
  height:35px;
  border-radius: 50%;
  background-color: orange;
}

.content {
  position: absolute;
  top: 0px;
  left: 75px;
  opacity: 0;
  transition: opacity .5s ease-in;
}

.content h1,
.content p {
  margin: 0;
}

.dot:hover + .content {
  opacity: 1;
}

.specificLocation {
  margin-left: 100px;
}
